django==4.2
psycopg2-binary==2.9.9
pillow==10.4.0
python-dotenv==1.0.1
django-ckeditor==6.6.1
djangorestframework==3.16.0
django-filter==25.1
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
celery==5.4.0
requests==2.32.3
redis==3.5.3
factory_boy==3.3.3
gunicorn
